.example {
  @include section(94px);
  background-color: $background-primary-color;
}

.example__container {
  @extend %container;
}

.example__list {
  @extend %remove-useless;

  @include for-tablet-up {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-grow: 1;
  }
}
