.hero {
  text-align: center;

  padding: 118px 0;

  background-color: $hero-bg-color;
  background-image: linear-gradient(to top, $linear-gradient-color, $linear-gradient-color),
    url(../img/bg-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to top, $linear-gradient-color, $linear-gradient-color),
      url(../img/bg-hero-mobile@2x.jpg);
  }

  @include for-phone-down {
    background-size: cover;
  }

  @include for-tablet-up {
    background-image: linear-gradient(to top, $linear-gradient-color, $linear-gradient-color),
      url(../img/bg-hero-tabl.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, $linear-gradient-color, $linear-gradient-color),
        url(../img/bg-hero-tabl@2x.jpg);
    }
  }

  @include for-desktop-up {
    background-image: linear-gradient(to top, $linear-gradient-color, $linear-gradient-color), url(../img/bg-hero.jpg);
    padding: 200px 0;
    background-size: 1600px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, $linear-gradient-color, $linear-gradient-color),
        url(../img/bg-hero@2x.jpg);
    }
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $background-primary-color;

  margin-bottom: 30px;

  @include for-desktop-up {
    font-size: 44px;
    line-height: 1.36;
  }
}
