.whatwedo {
  @include for-desktop-down {
    display: none;
  }

  @include for-tablet-up {
    @include section(0);
    background-color: $background-primary-color;
  }
}

.whatwedo__container {
  @extend %container;
}

.whatwedo__title {
  @extend %section-title;
}

.whatwedo__list {
  @extend %remove-useless;
  display: flex;
  justify-content: space-between;
}
