.whatwedo-item {
  position: relative;
}

.whatwedo-item__text {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 27px;
  margin: 0;

  background-color: rgba(47, 48, 58, 0.8);
  color: $background-primary-color;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
