$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$accent-hero-color: #188ce8;
$header-logo-color: #000000;
$address-info-color: rgba(255, 255, 255, 0.6);
$border-header-color: #ececec;
$border-example-color: #eeeeee;
$hero-bg-color: #c4c4c4;
$background-primary-color: #ffffff;
$background-secondary-color: #2f303a;
$background-body-color: #e5e5e5;
$background-ourteam-color: #f5f4fa;
$linear-gradient-color: rgba(47, 48, 58, 0.4);
$social-icon-color: #afb1b8;
$social-bg-color: #43444d;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
